# Credenciales de PostgreSQL para Docker (Cambiar en desarrollo/producción)
POSTGRES_USER=tu_usuario
POSTGRES_PASSWORD=tu_contrasena_segura
POSTGRES_DB=nombre_de_tu_bd

# URL de conexión para SQLAlchemy
DATABASE_URL=postgresql://tu_usuario:tu_contrasena_segura@localhost:5432/nombre_de_tu_bd