# Entorno virtual
venv/
ENV/
env/

# Archivos compilados de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Variables de entorno y secretos
.env
.env.local

# Archivos de sistema y VS Code
.vscode/
.DS_Store